/* General */

.bottom {
	margin-bottom: 0 !important;
}

.bottom5 {
	margin-bottom: 5px !important;
}

.solar-quote-basic {
	margin-top: 30px;
}

#solar_quote_basic_1_utility_cost_label:before {
	content: '$';
}

#mad-solar-calc {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	color: white;
	text-align: center;
}

#mad-solar-calc input[type=number]::-webkit-inner-spin-button, 
#mad-solar-calc input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mad-solar-calc h1,
#mad-solar-calc h2,
#mad-solar-calc h3 {
	font-size: 35px;
}

.calc-divider {
	width: 30%;
	margin: 20px auto;
	height: 4px;
	background: #ffcf4a;
}

#mad-solar-calc p {
	font-size: 18px;
}

#mad-solar-calc button {
	background: #0098d0;
	border-radius: 25px;
	padding: 15px 23px;
	transition: ease all .1s;
	border: none;
}

#mad-solar-calc button:focus,
input[type=range]:focus,
#mad-solar-calc input:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
 
#mad-solar-calc button:hover,
#mad-solar-calc .roof-info .solar_quote_roof:hover {
	cursor: pointer; 
}

/* monthly utilities */

#solar_quote_basic_1_utility_cost_label input {
  background: transparent;
  border: none;
  padding: 0;
  width: 100px;
  text-align: center;
}

#solar_quote_basic_1_utility_cost_label {
  background: rgba(0,0,0,.4);
  display: inline-block;
  max-width: 250px;
  padding: 15px 20px;
} 

/* utility providers */

.solar_quote_basic_utility {
	width: 200px;
	margin: 10px 0;
	min-height: 75px;
}

/* find your roof */

#solar_quote_basic_roof button,
#solar_quote_basic_roof .form-group {
	display: inline-block;
}

#solar_quote_basic_roof .form-group {
	width: 84%;
}

#mad-solar-calc #solar_quote_basic_roof button {
	background: #0098d0;
	border-radius: 10px;
	padding: 12px 23px;
	transition: ease all .3s;
	border: none;
	position: relative;
	top: -2px;
}

/* roof info */

#mad-solar-calc .roof-info .solar_quote_roof {
	width: 200px;
	max-width: 100%;
	height: 200px;
	border-radius: 50%;
	border: 6px solid white;
	font-size: 20px;
	margin-bottom: 30px;
	transition: ease all .3s;
	box-shadow: 0px 0px 10px #000;
	background-size: cover !important;
}

#mad-solar-calc .roof-info .solar_quote_roof:hover {
	transform: rotate(8deg);
	box-shadow: -2px 1px 13px #000;
}

.solar_quote_roof small {
	display: block;
}

/* roof type */

#mad-solar-calc #roof-type-1 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/roof_metal.jpg);
}

#mad-solar-calc #roof-type-2 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/roof_shingles.jpg);
}

#mad-solar-calc #roof-type-3 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/roof_concrete.jpg);
}

#mad-solar-calc #roof-type-4 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/roof_clay.jpg);
}

#mad-solar-calc #roof-type-5 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/roof_gm.jpg);
}

#mad-solar-calc #roof-type-6 {
	background: rgba(0, 152, 208, .6);
}

/* roof pitch */

#mad-solar-calc #roof-pitch-1 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/slant_flat.jpg);
}

#mad-solar-calc #roof-pitch-2 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/slant_slight.jpg);
}

#mad-solar-calc #roof-pitch-3 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/slant_medium.jpg);
}

#mad-solar-calc #roof-pitch-4 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/slant_steep.jpg);
}

/* roof shading */

#mad-solar-calc #roof-shade-1 {
	background: 
		linear-gradient(
      rgba(0,0,0,.1),
      rgba(0,0,0,.1)
		),
		url(../img/shade_unshaded.jpg);
}

#mad-solar-calc #roof-shade-2 {
	background: 
		linear-gradient(
      rgba(0,0,0,.1),
      rgba(0,0,0,.1)
		),
		url(../img/shade_can.jpg);
}

#mad-solar-calc #roof-shade-3 {
	background: 
		linear-gradient(
      rgba(0,0,0,.3),
      rgba(0,0,0,.3)
		),
		url(../img/shade_cannot.jpg);
}

#mad-solar-calc #roof-shade-4 {
	background: 
		linear-gradient(
      rgba(0,0,0,.1),
      rgba(0,0,0,.1)
		),
		url(../img/shade_severe.jpg);
}

/* system estimate */

#roof-image, #solar-calc-results {
	min-height: 450px;
}

#solar-results .col-sm-6{
	margin-top: 40px;
	margin-bottom: 40px;
}

#solar-calc-results {
	color: #333;
	text-align: left;
	padding: 40px;
	background: rgba(0, 0, 0, .5);
}

#solar-calc-results h5 {
	font-size: 22px;
	margin-bottom: 20px;
	color: #ffcf4a;
}

#solar-calc-results small {
	color: #fff;
}

/* media */

@media (min-width: 992px) {
	#mad-solar-calc {
		min-height: 750px;
		display: flex;
		align-items: center;
	}
}

