<div class="col-md-12">
    <h3>Address</h3>
    <form id="solar_quote_basic_1" class="txt-center solar-quote-basic" action="https://www.solar-estimate.org/calculators/solar-quote/manual-address">
        <input type="hidden" name="_token" value="JrMMAss3KjppMl8i6ahJs91wVqyZORPb1AybEsqj">
        <div class="form-group">
            <div class="bg-grey pad3030">
                <input type="hidden" name="calculator" value="solar_quote">
                <div class="popover-parent-halfwidth ">
                    <p>
                        <input type="text" id="solar_quote_basic_1_street_number" class="form-control input-lg street_address" placeholder="Enter Street Number" name="street_number" value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="" data-template="<div class='popover calc-error-popover'><div class='arrow'></div><div class='popover-inner'><div class='popover-content'><p></p></div></div></div>" onblur="hidepopover(this)" onclick="hidepopover(this)">
                    </p>
                </div>
                <div class="popover-parent-halfwidth ">
                    <p>
                        <input type="text" id="solar_quote_basic_1_street_name" class="form-control input-lg street_address" placeholder="Enter Street Name" name="street_name" value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="" data-template="<div class='popover calc-error-popover'><div class='arrow'></div><div class='popover-inner'><div class='popover-content'><p></p></div></div></div>" onblur="hidepopover(this)" onclick="hidepopover(this)">
                    </p>
                </div>

                <input type="hidden" id="zipcode" name="zip" value="80537">
                <input type="hidden" id="city_name" name="city" value="Loveland">
                <input type="hidden" id="state_abbr" name="state_abbr" value="CO">
                <input type="hidden" id="country" name="country" value="US">
                <input type="hidden" id="full_address" name="full_address" value="3608 madison ave , Loveland, CO, United States">


                <p><b>Zipcode:</b> 80537,
                    <b>City:</b> Loveland,
                    <b>State:</b> CO</p>
                <p style="cursor: pointer;"><a id="resetZipcode"><b>OR</b> Change your zipcode</a></p>
            </div>
        </div>
        <button type="submit" id="manual_address_form" data-loading-text="Loading..." onclick="$(this).button('loading')" class="btn btn-primary btn-lg">Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
    </form>
</div>