<div class="container">
    <div class="row">
      <div class="col-md-12">
          <h3>Find your roof</h3>
          <p class="calc-divider"></p>
          <p>Begin typing below to find your street address. Once you have found your address, press continue.</p>
          <form id="solar_quote_basic_roof" class="txt-center solar-quote-basic" onsubmit="event.preventDefault(); Roof.setAddress(); Roof.validate();">
              <div class="form-group">
                  <input type="hidden" name="calculator" value="solar_quote">
                  <div class="popover-parent ">
                      <input type="hidden" id="street_number" name="street_number">
                      <input type="hidden" id="postal_code" name="postal_code">
                      <label for="solar_quote_basic_full_address" class="hidden">Enter Address</label>
                      <input type="text" id="solar_quote_basic_full_address" class="form-control input-lg" placeholder="Enter Address" name="full_address" value="" onfocus="initAutocomplete(); geolocate()"> 
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">
                Search <i class="glyphicon glyphicon-chevron-right submit-template" id="find-your-address"></i>
              </button>
          </form>
      </div>  
    </div>
</div>