<div class="col-md-12">
                    <h4>Move marker if this is not your roof</h4>
<p>3608 Madison Avenue, Loveland, CO, United States</p>

<form id="solar_quote_basic_1" class="txt-center solar-quote-basic" action="https://www.solar-estimate.org/calculators/solar-quote/draggable-maps-marker">
    <input type="hidden" name="_token" value="JrMMAss3KjppMl8i6ahJs91wVqyZORPb1AybEsqj">
    <div class="form-group">
        <input type="hidden" name="calculator" value="solar_quote">
        <input type="hidden" id="latitude" name="latitude" value="40.4288649">
        <input type="hidden" id="longitude" name="longitude" value="-105.05839170000002">
    </div>
    <button type="submit" data-loading-text="Loading..." onclick="$(this).button('loading')" class="btn btn-primary btn-lg">Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
</form>
</div>