<div class="col-md-12">
    <h3>Roof pitch</h3>
    <form id="solar_quote_basic_roof-pitch" class="txt-center solar-quote-basic" action="https://www.solar-estimate.org/calculators/solar-quote/roof-pitch">
        <input type="hidden" name="_token" value="JrMMAss3KjppMl8i6ahJs91wVqyZORPb1AybEsqj">
        <div class="form-group ">
            <div class="bg-grey pad3030 min-250">
                <div class="row">
                    <input type="hidden" name="calculator" value="solar_quote">
                    <div class="cta-circle-group">
                        <div class="cta-circle-wrapper">
                            <button type="submit" id="solar_quote_basic_roof_pitch_flat" name="roof-pitch" value="Flat">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_pitch_flat-d12b1e0c9a.png')">
                                    <div class="cta-link-hover"></div>
                                    </div><!-- .cta-link -->
                                    </div><!-- .cta-circle -->
                                    <label for="solar_quote_basic_roof_pitch_flat">Flat</label>
                                    </button>
                                    </div><!-- .cta-circle-wrapper -->
                                    <div class="cta-circle-wrapper">
                                        <button type="submit" id="solar_quote_basic_roof_pitch_slight" name="roof-pitch" value="Slight">
                                        <div class="cta-circle">
                                            <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_pitch_slight-83be0ff4bc.png')">
                                                <div class="cta-link-hover"></div>
                                                </div><!-- .cta-link -->
                                                </div><!-- .cta-circle -->
                                                <label for="solar_quote_basic_roof_pitch_slight">Slight</label>
                                                </button>
                                                </div><!-- .cta-circle-wrapper -->
                                                <div class="cta-circle-wrapper">
                                                    <button type="submit" id="solar_quote_basic_roof_pitch_medium" name="roof-pitch" value="Medium">
                                                    <div class="cta-circle">
                                                        <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_pitch_standard-a9a521c27a.png')">
                                                            <div class="cta-link-hover"></div>
                                                            </div><!-- .cta-link -->
                                                            </div><!-- .cta-circle -->
                                                            <label for="solar_quote_basic_roof_pitch_medium">Medium</label>
                                                            </button>
                                                            </div><!-- .cta-circle-wrapper -->
                                                            <div class="cta-circle-wrapper">
                                                                <button type="submit" id="solar_quote_basic_roof_pitch_steep" name="roof-pitch" value="Steep">
                                                                <div class="cta-circle">
                                                                    <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_pitch_steep-f2b363f03e.png')">
                                                                        <div class="cta-link-hover"></div>
                                                                        </div><!-- .cta-link -->
                                                                        </div><!-- .cta-circle -->
                                                                        <label for="solar_quote_basic_roof_pitch_steep">Steep</label>
                                                                        </button>
                                                                        </div><!-- .cta-circle-wrapper -->
                                                                    </div>
                                                                    <input type="hidden" name="clickedRoofPitch" value="">
                                                                    <br><span class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>