<div class="col-md-12">
                        <h3>Select your roof type</h3>

<form id="solar_quote_basic_roof-type" class="txt-center solar-quote-basic" action="https://www.solar-estimate.org/calculators/solar-quote/roof-type">
    <input type="hidden" name="_token" value="JrMMAss3KjppMl8i6ahJs91wVqyZORPb1AybEsqj">

    
    <div class="form-group ">
        <div class="bg-grey pad3030 min-250">
            <div class="row">
                <input type="hidden" name="calculator" value="solar_quote">

                <div class="cta-circle-group">

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_metal" name="roof-type" value="Metal">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_type_metal-cf38744794.jpg')">
                                    <div class="cta-link-hover"></div>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_metal">Metal</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_shingles" name="roof-type" value="Shingles">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_type_shingles-a168c95f25.jpg')">
                                    <div class="cta-link-hover"></div>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_shingles">Shingles</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_concrete_tiles" name="roof-type" value="Concrete Tiles">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_type_concrete_tiles-4cb3b207ab.jpg')">
                                    <div class="cta-link-hover"></div>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_concrete_tiles">Concrete tiles</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_clay_terracotta" name="roof-type" value="Clay / Terracotta">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_type_clay_terracotta-0f3e540f15.jpg')">
                                    <div class="cta-link-hover"></div>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_clay_terracotta">Clay / Terracotta</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_groundmount" name="roof-type" value="Ground Mount">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_type_groundmount-7603be7f8b.jpg')">
                                    <div class="cta-link-hover"></div>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_groundmount">Ground mount</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                    <div class="cta-circle-wrapper">
                        <button type="submit" id="solar_quote_basic_roof_type_other" name="roof-type" value="Other">
                            <div class="cta-circle">
                                <div class="cta-link bg-grey-dark">
                                    <div class="cta-link-hover"></div>
                                    <h3>Other</h3>
                                </div><!-- .cta-link -->
                            </div><!-- .cta-circle -->
                            <label for="solar_quote_basic_roof_type_other">Other</label>
                        </button>
                    </div><!-- .cta-circle-wrapper -->

                </div>

                <input type="hidden" name="clickedRoofType" value="">

                <br><span class="text-danger"></span>

            </div>
        </div>

    </div>


</form>
</div>