<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Select Your Roof Pitch</h3>
      <p class="calc-divider"></p>

      <form id="solar_quote_roof_type" class="txt-center solar-quote-basic roof-info" onsubmit="event.preventDefault(); view.renderNextTemplate('roofShade');">

        <div class="form-group ">
          <label for="solar_quote_basic_1_utility_cost" class="hidden">Select Your Roof Pitch</label>
          <div>

            <div class="row">
              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_pitch', jQuery(this).val())" id="roof-pitch-1" class="solar_quote_roof" name="roof_pitch" value="flat">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Flat</span>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_pitch', jQuery(this).val())" id="roof-pitch-2" class="solar_quote_roof" name="roof_pitch" value="Slight">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Slight</span>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_pitch', jQuery(this).val())" id="roof-pitch-3" class="solar_quote_roof" name="roof_pitch" value="Medium">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Medium</span>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_pitch', jQuery(this).val())" id="roof-pitch-4" class="solar_quote_roof" name="roof_pitch" value="Steep">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Steep</span>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

            </div><!-- row -->

          </div><!-- utility buttons -->
        </div><!-- form-group -->

      </form>
    </div><!-- col-md-12 -->
  </div><!-- row -->
</div><!-- container -->