<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Select Your Roof Shade</h3>
      <p class="calc-divider"></p>

      <form id="solar_quote_roof_type" class="txt-center solar-quote-basic roof-info" onsubmit="event.preventDefault(); view.renderNextTemplate('yourSystemEstimate', system.render());">

        <div class="form-group ">
          <label for="solar_quote_basic_1_utility_cost" class="hidden">Select Your Roof Shade</label>
          <div>

            <div class="row">
              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_shade', jQuery(this).val())" id="roof-shade-1" class="solar_quote_roof" name="roof_shade" value="Unshaded" data-pressed="false">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Unshaded</span>
                      <small>9am to 3pm</small>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_shade', jQuery(this).val())" id="roof-shade-2" class="solar_quote_roof" name="roof_shade" value="Part Shade Can Improve">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Part Shade</span>
                      <small>(can improve)</small>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_shade', jQuery(this).val())" id="roof-shade-3" class="solar_quote_roof" name="roof_shade" value="Part Shade Cannot Improve">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Part Shade</span>
                      <small>(cannot improve)</small>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

              <div class="cta-circle-wrapper col-md-3 col-sm-3 col-xs-6">

                <button type="submit" onclick="Cookies.set('roof_shade', jQuery(this).val())" id="roof-shade-4" class="solar_quote_roof" name="roof_shade" value="Severe Shade">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <span class="roof-attr">Severe Shade</span>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                </button>

              </div><!-- .cta-circle-wrapper -->

            </div><!-- row -->

          </div><!-- utility buttons -->
        </div><!-- form-group -->

      </form>
    </div><!-- col-md-12 -->
  </div><!-- row -->
</div><!-- container -->