<div class="col-md-12">
    <h3>Roof shading</h3>
    <form id="solar_quote_basic_roof-shading" class="txt-center solar-quote-basic" action="https://www.solar-estimate.org/calculators/solar-quote/roof-shading">
        <input type="hidden" name="_token" value="JrMMAss3KjppMl8i6ahJs91wVqyZORPb1AybEsqj">
        
        <div class="form-group ">
            <div class="bg-grey pad3030 min-250">
                <div class="row">
                    <input type="hidden" name="calculator" value="solar_quote">
                    <div class="cta-circle-group">
                        <div class="cta-circle-wrapper">
                            <button type="submit" id="solar_quote_basic_roof_shading_unshaded" name="roof-shading" value="Unshaded 9am to 3pm">
                            <div class="cta-circle">
                                <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_shading_unshaded-e5c9b9c8b6.jpg')">
                                    <div class="cta-link-hover"></div>
                                    </div><!-- .cta-link -->
                                    </div><!-- .cta-circle -->
                                    <label for="solar_quote_basic_roof_shading_unshaded">Unshaded<br>9am to 3pm</label>
                                    </button>
                                    </div><!-- .cta-circle-wrapper -->
                                    <div class="cta-circle-wrapper">
                                        <button type="submit" id="solar_quote_basic_roof_shading_part_shaded_can_improve" name="roof-shading" value="Shaded (can improve)">
                                        <div class="cta-circle">
                                            <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_shading_part_shade_can_improve-520ce7f950.jpg')">
                                                <div class="cta-link-hover"></div>
                                                </div><!-- .cta-link -->
                                                </div><!-- .cta-circle -->
                                                <label for="solar_quote_basic_roof_shading_part_shaded_can_improve">Part shade<br>(can improve)</label>
                                                </button>
                                                </div><!-- .cta-circle-wrapper -->
                                                <div class="cta-circle-wrapper">
                                                    <button type="submit" id="solar_quote_basic_roof_shading_part_shaded_cannot_improve" name="roof-shading" value="Shaded (cannot improve)">
                                                    <div class="cta-circle">
                                                        <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_shading_part_shade_cannot_improve-1562d9b9ab.jpg')">
                                                            <div class="cta-link-hover"></div>
                                                            </div><!-- .cta-link -->
                                                            </div><!-- .cta-circle -->
                                                            <label for="solar_quote_basic_roof_shading_part_shaded_cannot_improve">Part shade<br>(cannot improve)</label>
                                                            </button>
                                                            </div><!-- .cta-circle-wrapper -->
                                                            <div class="cta-circle-wrapper">
                                                                <button type="submit" id="solar_quote_basic_roof_shading_severe_shade" name="roof-shading" value="Severe Shade">
                                                                <div class="cta-circle">
                                                                    <div class="cta-link" style="background-image: url('https://www.solar-estimate.org/build/images/calculator/roof_shading_severe_shade-fb6c2b72c1.jpg')">
                                                                        <div class="cta-link-hover"></div>
                                                                        </div><!-- .cta-link -->
                                                                        </div><!-- .cta-circle -->
                                                                        <label for="solar_quote_basic_roof_shading_severe_shade">Severe shade</label>
                                                                        </button>
                                                                        </div><!-- .cta-circle-wrapper -->
                                                                    </div>
                                                                    <input type="hidden" name="clickedRoofShading" value="">
                                                                    <br><span class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>