<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 text-center">

			<div style='overflow:hidden;height:400px;width:100%;'>
			    <div id='gmap_canvas' style='height:400px;width:100%;'></div>
			    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
			</div>
			
			<h3>Move the marker so that it is centerred over your roof</h3>
			<p class="calc-divider"></p>
			<p id="gmap-address"></p>
			<p>Once you have the marker placed in the correct location please click Continue.</p>
			<form id="solar_quote_basic_find_roof_coords" class="txt-center solar-quote-basic" onsubmit="event.preventDefault(); Roof.save(); view.renderNextTemplate('roofType');">
				<input type="hidden" name="gps-coords" id="gps-coords">
				<button id="get_gps_coords" type="submit" class="btn btn-info btn-info-gradient btn-lg" name="get_gps_coords" data-pressed="false">
					Continue <i class="glyphicon glyphicon-chevron-right"></i>
				</button>
			</form>
		</div>
	</div>
</div>