<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Select your Utility Provider</h3>
      <p class="calc-divider"></p>
      <p>We will look up utility rates &amp; any applicable rebates for your estimate</p>
      <form id="solar_quote_basic_utility" class="txt-center solar-quote-basic" onsubmit="event.preventDefault(); utilPros.save(); view.renderNextTemplate('findYourRoof');">
        <div class="form-group ">
          <label for="solar_quote_basic_1_utility_cost" class="hidden">Select Your Utility Provider</label>
          <div id="utility-buttons">
            <div class="row">

              <!-- data rendered via js/utilityProviders.js @ renderProviders()  -->
              <div id="utility-providers"></div>

              <div class="cta-circle-wrapper col-md-4 col-sm-3 col-xs-6">
                <button type="submit" onclick="serviceRate = 'other'" class="solar_quote_basic_utility" name="utility" value="other">
                  <div class="cta-square">
                    <div class="cta-link">
                      <div class="cta-link-hover"></div>
                      <div>Other</div>
                    </div><!-- .cta-link -->
                  </div><!-- .cta-circle -->
                  <label for="solar_quote_basic_utility_318" style="display:none;"></label>
                </button>
              </div><!-- .cta-circle-wrapper -->

            </div><!-- row -->
          </div><!-- utility buttons -->
        </div><!-- form-group -->
      </form>
    </div><!-- col-md-12 -->
  </div><!-- row -->
</div><!-- container -->