<div class="col-md-12">
    <h3>Your system estimate</h3>
    <br class="hidden-xs">
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">System <br class="hidden-xs">Size</h4>
                    <h5 class="text-center txt-info">11.7 kW</h5>
                    <p class="small">&nbsp;</p>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">Annual <br class="hidden-xs">Production</h4>
                    <h5 class="text-center txt-info">16,666 kW-hours</h5>
                    <p class="small hidden-xs">&nbsp;</p>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">Profit<br class="hidden-xs"><br class="hidden-xs"></h4>
                    <h5 class="text-center txt-info">$43,145</h5>
                    <p class="small hidden-sm">(savings less cost of system)</p>
                    <p class="small visible-sm">(savings less system cost)</p>
                </td>
            </tr>
        </tbody></table>
    </div>

    <form id="solar_quote_basic_1" class="txt-center solar-quote-basic" action="">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Schedule a Live Estimate <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </form>

</div>