<div class="col-md-12">
    <h3>Your system estimate</h3>
    <br class="hidden-xs">
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">System <br class="hidden-xs">Size</h4>                    
                    <h5 id="dc-system-size"></h5>
                    <p class="small">&nbsp;</p>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">Annual Production</h4>
                    <h5 class="text-center txt-info" id="annual-usage"></h5>
                    <p class="small hidden-xs">&nbsp;</p>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div class="col-md-4 col-sm-4">
        <table class="table table-bordered">
            <tbody><tr>
                <td>
                    <h4 class="text-center">Cost (After 30% Federal Tax Credit)</h4>
                    <h5 class="text-center" id="cost"></h5>
                </td>
            </tr>
        </tbody></table>
    </div>

    <form id="solar_quote_basic_1" class="txt-center solar-quote-basic" action="">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Schedule a Live Estimate <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </form>

</div>